<div class="row">
    <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">
                   @Html.ActionLink("Listado de Proveedores", "ListaProveedor", "Proveedor")
                </h4>
                <p class="card-text">Se mostrara la lista de Proveedores</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">
                    @Html.ActionLink("Listado de Eventos", "ListaEvento", "Evento")
                </h4>
                <p class="card-text">Se mostrara la lista de Eventos</p>
            </div>
        </div>
    </div>
</div>
