@model Proveedor
<div class="card">
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="@Model.codproveedor" alt="">
            <div class="card-body">
                <h4 class="card-title">@Model.nomproveedor</h4>
                <p class="card-text">@Model.desproveedor</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Detalles Proveedor</a>
            </div>
        </div>
    </div>
</div>